home
    head
        meta(name="viewport" , content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/style2.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap")
        title= data.country
    body
        .main
            .first
                img(src=data.countryInfo.flag, alt=data.country)
                h1= data.country
            .second
                table
                    tr
                        th CASES
                        th DEATHS
                        th recovered
                        th today cases
                        th today death
                        th active
                        th critical
                        th tests
                        th cases per million
                        th deaths per million
                        th tests per million
                    tr
                        td= data.cases
                        td= data.deaths
                        td= data.recovered
                        td= data.todayCases
                        td= data.todayDeaths
                        td= data.active
                        td= data.critical
                        td= data.tests
                        td= data.casesPerOneMillion
                        td= data.deathsPerOneMillion
                        td= data.testsPerOneMillion
                        
